/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/* custom properties */
:root{
--primary-text-color: #0F0A0A;
--secondary-text-color: #FCE517;
--primary-background-color: #F5EFED;
--secondary-background-color: #D9D3D1;

--padding-section: 50px 100px;
}

/* scrollbar */
::-webkit-scrollbar {
     width: 8px; 
   }
   
   /* Track */
   ::-webkit-scrollbar-track {
     background-color: var(--primary-background-color); 
   }
   
   /* Handle */
   ::-webkit-scrollbar-thumb {
     background-color: #FCE517; 
   }
   
   /* Handle on hover */
   ::-webkit-scrollbar-thumb:hover {
     background-color: #FCE517;
   }
/******************************************
/* BASE STYLES
/*******************************************/

body {
     font-family: 'Montserrat', sans-serif;
     background: var(--primary-background-color);
}

/* text */

h1{
     color: var(--secondary-text-color);
     font-weight: 700;
     font-size: 9rem;
}

h2{
     font-size: 3rem;
     font-weight: 700;
}

p{
     font-size: 1.5rem;
     font-weight: 200;
}

span{
     color: white;
}

a{
     text-decoration: none;
     color: var(--primary-text-color);
}

a:hover{
     text-decoration: underline;
}

.selected{
     color: #D9D3D1;
}

.anchor-color:hover{
     text-decoration: none;
     color: var(--secondary-text-color);
     
}

/*  */

button{
     border: 3px solid black;
     width: fit-content;
     margin: 0 auto;
     cursor: pointer;
     font-size: 2rem;
     font-weight: bold;
     font-family: inherit;
     background: rgba(236, 233, 233, 0.8);
     border-radius: 30px;
     padding: 10px 20px;
}

button:hover{
     background: var(--secondary-text-color);
     transform: rotateZ(-3deg);
}


/******************************************
/* LAYOUT
/*******************************************/

.container{
     padding-inline: 20px;
     position: relative;
     z-index: 1;
}

nav{
     margin: 20px 40px;
     display: flex;
     justify-content: space-between;
     align-items: center;
}

nav .container-left{
     display: flex;
     gap: 3rem;
     padding-inline-end: 100px;
}

nav .container{
     cursor: pointer;
}

/* hero */

.hero{
     background: url('/assets/burger-hero.jpg') 0 -200px no-repeat;
     background-size: 1500px;
     height: 700px;
     position: relative;
}

.hero::before{
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.2);
}

.hero .container{
     display: flex;
     align-items: center;
     justify-content: center; 
     height: 100%;
}

/* about */

.about{
     padding: var(--padding-section);
     margin: 50px 0;
}

.about .container{
     text-align: center;
     display: flex;
     flex-flow: column;
     gap: 40px;
     justify-content: center;
     line-height: 35px;
}

.about a{
     font-weight: 700;
}

/* location */

.location{
     border-top: 3px dashed var(--primary-text-color);
}

.location > .container{
     text-align: center;
     padding: 30px 0;

}

.location iframe{
     width: 100%;
}

/* ABOUT PAGE */

/* about title */

.about__title{
     background: url('/assets/kitchen-about.jpg') 0 -250px no-repeat;
     background-size: 1500px;
     height: 600px;
}

.about__title .container{
     display: flex; 
     justify-content: center;
     align-items: center;
     height: 100%;
}

/* about content */

.about__content{
     display: flex;
     margin: 100px 30px 0 30px;
     padding-bottom: 100px;
}

.about__content .container{
     flex: 2;
     display: flex;
     padding: 50px 100px;
     gap: 20px;
     flex-direction: column;

}

.about__content .container__img{
     flex: 2;
    
}

.container__img-us{
     background: url('/assets/chef-about.jpg') 0 -30px no-repeat;
     background-size: cover;
     transform: rotateZ(3deg);
     border: 10px dashed var(--secondary-text-color);

}

.container__img-mission{
     background: url('/assets/eating-about.jpg')  no-repeat;
     background-size: cover;
     transform: rotateZ(-4deg);
     border: 10px dashed var(--secondary-text-color);



}

.about__menu{
     display: flex;
     justify-content: center;
     margin-bottom: 40px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
